{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Depot app</title>
</head>

<body>
    <!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
    <div class="min-h-full">
        <nav class="bg-gray-800">

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="md:hidden" id="mobile-menu">
            </div>
        </nav>

        
        <main>
            <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
                {% block content  %}

                {% endblock content  %}
            </div>
        </main>
    </div>

</body>

</html>